{% extends 'layout_message.html' %}

{% block titles %} Chat App {% endblock %}

{% block body %}
<div class="" id="app">

    <div>
        {% include 'header/header.html' %}
    </div>


    <div v-if="navi === 'group'" class="bg-[#A5D2FF] w-full h-screen absolute pt-[70px]">
        <div class="bg-red-100 overflow-x-auto px-1 sm:px-8 h-full relative pb-2 rounded-lg z-40 pt-2">
            {% include 'chatgroup/chatGroup.html' %}
        </div>
    </div>


    <div v-if="navi === 'psi'" class="bg-[#A5D2FF] w-full h-screen pt-[70px] ">
        <div class="bg-red-100 px-1 sm:px-8 h-full pb-2 rounded-lg  pt-2 relative  z-50">
            {% include 'psico/psico.html' %}
        </div>
    </div>

    <div v-if="navi === 'admin'" class="bg-[#A5D2FF] w-full h-screen pt-[70px] ">
        <div class="bg-red-100 px-1 sm:px-8 h-full rounded-lg  pt-2 relative z-20 w-full flex justify-center pb-5">
            {% include 'admin/permissions/permissions.html' %}
        </div>
    </div>


    <div v-if="navi === 'toato'" class="bg-[#A5D2FF] w-full h-screen pt-[70px] ">
        <div class="bg-red-100 px-1 sm:px-8 h-full rounded-lg  pt-2 relative z-20 w-full flex justify-center pb-5">
            {% include 'toato/toato.html' %}
        </div>
    </div>




</div>


<script>
    const { createApp, ref, onMounted, watch } = Vue;

    createApp({
        setup() {
            const socket = ref(null);
            const messages = ref(JSON.parse('{{ messages |tojson | safe }}'));
            const psych = ref(JSON.parse('{{ psychology | tojson | safe }}'));
            const toato = ref(JSON.parse('{{ toato | tojson | safe }}'));


            const userLogin = ref(JSON.parse('{{ userLogin |tojson | safe }}'));
            const countMessages = ref({
                'group': 0,
                'psi': 0,
                'toato': 0
            })

            const userToato = ref(null);

            const sidebarPsych = ref(false)
            const sidebarToaTo = ref(false)

            const psychologyMessage = ref(null)
            const psychologyMessageToaTo = ref(null)
            const message = ref('');
            const navi = ref('psi');


            const modalEmojis = ref(false);



            let emojis = ref([
                '😀', '😄', '😁', '😂', '🤣', '😊', '😍', '🥰', '🤭', '🤷',
                '🙋‍♀️', '🙋', '🙈', '🙉', '🙊', '🫦', '🐯', '🌿', '☘', '🍀',
                '⚡', '🔥', '💥', '⛈', '🌞', '🎄', '💏', '😡', '😔', '🍉',
                '🍊', '🏉', '🏊‍♂️', '🏄‍♀️', '🎯', '🪑', '👩‍🦯', '🎉', '🎂', '🎃',
                '🕯', '🎁', '🎈', '🍪', '🍩', '🍻', '🥂', '🥳', '🤖', '👾',
                '🤡', '👻', '👽', '💀', '🎃', '🎨', '🎤', '🎧', '🎷', '🎸',
                '🎺', '🎻', '🥁', '🎮', '🖥', '💻', '📱', '📷', '📺', '⏰',
                '🛏', '🚪', '🗝', '🛋', '🚽', '🚿', '🛁', '🛒', '🚲', '🚕',
                '🚌', '🚎', '🚓', '🚑', '🚒', '🚜', '🚛', '🚍', '🚂', '🚀',
                '🎢', '🎡', '🎠', '🎪', '🎬', '🎭', '🖼', '🎳', '🎽', '🏅',
                '🏆', '🥇', '🥈', '🥉', '⚽', '🏀', '🏈', '🎾', '🏐', '🏓',
                '🏸', '🏒', '🏑', '🥅', '⛳', '🎣', '🤿', '🎽', '🏹', '🧑‍🎤',
                '🧑‍🍳', '🧑‍🔬', '🧑‍🚀', '👶', '👨‍🍼', '🧓', '🦸‍♂️', '🦸‍♀️', '🦹‍♂️', '🦹‍♀️',
                '🧙‍♂️', '🧙‍♀️', '🧚‍♂️', '🧚‍♀️', '🧞‍♂️', '🧞‍♀️', '🧜‍♂️', '🧜‍♀️', '🧛‍♂️', '🧛‍♀️',
                '🧟‍♂️', '🧟‍♀️', '🖕', '🥵', '🤤', '😈'
            ]);



            let indexMessagePys = null
            let indexMessageToato = null

            let actionBeggin = true
            let actionBegginToato = true

            function updateMessageCountPsi() {
                if (psych.value) {
                    psych.value.forEach(conexion => {
                        if (actionBeggin) {
                            countMessages.value.psi = countMessages.value.psi + conexion.countMessage
                        }
                        else {
                            if (conexion.countMessage !== 0) {
                                countMessages.value.psi = countMessages.value.psi + 1
                                reproducirAudio()
                            }
                        }
                        actionBeggin = false
                    }
                    )
                }

            }

            watch(psych, updateMessageCountPsi, { immediate: true });



            function updateMessageCountToato() {
                if (toato.value) {
                    toato.value.forEach(conexion => {
                        if (actionBegginToato) {
                            countMessages.value.toato = countMessages.value.toato + conexion.countMessage
                        }
                        else {
                            if (conexion.countMessage !== 0) {
                                countMessages.value.toato = countMessages.value.toato + 1
                                reproducirAudio()
                            }
                        }
                        actionBegginToato = false
                    }
                    )
                }

            }

            watch(toato, updateMessageCountToato, { immediate: true });


            watch(userLogin, () => {
                if (userLogin.value.rol === 'admin') {
                    navi.value = 'admin'
                }
            }, { immediate: true });








            toogleSidebarPsi = () => {
                sidebarPsych.value = !sidebarPsych.value
            }

            toogleSidebarToato = () => {
                sidebarToaTo.value = !sidebarToaTo.value
            }


            toogleNaviChatPsyc = (index, id) => {
                sidebarPsych.value = false
                indexMessagePys = id
                psychologyMessage.value = psych.value[index];

                if (psychologyMessage.value.countMessage !== 0) {

                    data = { message: message.value, conexion_id: psychologyMessage.value.conexion_id, user_id: psychologyMessage.value.id, rol: psychologyMessage.value.rol }
                    socket.value.emit('read_message', data)
                    countMessages.value.psi = countMessages.value.psi - psychologyMessage.value.countMessage
                    psychologyMessage.value.countMessage = 0
                    message.value = '';

                }
                message.value = '';
            }

            const toogleNaviChatToatoFind=()=>{
                data= toato.value.find(item => item.id === userToato.value.id);

                idUserAdminForm.value=null
                
                if (data) {
                    psychologyMessageToaTo.value=data
                    indexMessageToato = userToato.value.id
                }
                else{
                    psychologyMessageToaTo.value = userToato.value
                    indexMessageToato = userToato.value.id
                }
                userToato.value=null




                psychologyMessageToaTo.value.countMessage = 0
            }

            const toogleNaviChatToato = (index, id) => {
                sidebarToaTo.value = false
                indexMessageToato = id
                psychologyMessageToaTo.value = toato.value[index];

                if (psychologyMessageToaTo.value.countMessage !== 0) {

                    data = { message: message.value, conexion_id: psychologyMessageToaTo.value.conexion_id, user_id: psychologyMessageToaTo.value.id, rol: psychologyMessageToaTo.value.rol }
                    socket.value.emit('read_message', data)
                    countMessages.value.toato = countMessages.value.toato - psychologyMessageToaTo.value.countMessage
                    psychologyMessageToaTo.value.countMessage = 0
                    message.value = '';

                }
                message.value = '';
            }


            const toogleEmojis = () => {
                modalEmojis.value = !modalEmojis.value
            }

            const toogleNvigate = (val) => {
                if (val == 'group') {
                    countMessages.value.group = 0
                    psychologyMessage.value = null
                    psychologyMessageToaTo.value = null
                    indexMessageToato = null

                    indexMessagePys = null
                }


                navi.value = val
            }



            const adEmoji = (value) => {
                message.value = message.value.concat(value)
            }



            const sendMessage = (user) => {
                if (message.value && navi.value === 'group') {
                    socket.value.emit('message', message.value);
                    message.value = '';
                }

                if (message.value && (navi.value === 'psi' || navi.value === 'toato')) {
                    data = {}
                    if (navi.value === 'psi') {
                        data = { message: message.value, conexion_id: user.conexion_id, user_id: user.id, rol: user.rol, conexion_type: 'psi' }
                        socket.value.emit('message_psi', data)

                    }
                    if (navi.value === 'toato') {
                        data = { message: message.value, conexion_id: user.conexion_id, user_id: user.id, rol: user.rol, conexion_type: 'toato' }
                        socket.value.emit('message_toato', data)
                    }
                    message.value = '';
                }
            };

            function reproducirAudio() {
                const audio = document.getElementById('miAudio');

                audio.play().catch(error => {
                    console.error("Error al reproducir el audio:", error);
                });
            }

            onMounted(() => {
                socket.value = io.connect();


                socket.value.on('message', (data) => {
                    if (navi.value !== 'group') {
                        countMessages.value.group = countMessages.value.group + 1
                        reproducirAudio()
                    }
                    messages.value.push(data[data.length - 1]);
                });


                socket.value.on('user_data', (data) => {
                    if (userLogin.value.id === data.id) {
                        window.location.reload()
                    }
                });




                socket.value.on('message_psi', (data) => {
                    if (data[0].userLoginId === userLogin.value.id) {
                        if (indexMessagePys !== null) {
                            psychologyMessage.value = data.find(item => item.id === indexMessagePys);

                            psychologyMessage.value.countMessage = 0

                            data_env = { message: message.value, conexion_id: psychologyMessage.value.conexion_id, user_id: psychologyMessage.value.id, rol: psychologyMessage.value.rol }

                            socket.value.emit('read_message', data_env)
                        }


                        psych.value = data
                    }
                });


                socket.value.on('message_toato', (data) => {
                    if (data[0].userLoginId === userLogin.value.id) {
                        if (indexMessageToato !== null) {
                            psychologyMessageToaTo.value = data.find(item => item.id === indexMessageToato);

                            psychologyMessageToaTo.value.countMessage = 0

                            data_env = { message: message.value, conexion_id: psychologyMessageToaTo.value.conexion_id, user_id: psychologyMessageToaTo.value.id, rol: psychologyMessageToaTo.value.rol }

                            socket.value.emit('read_message', data_env)
                        }


                        toato.value = data
                    }
                });
            });



            //////////////////functions admin user////////////////////////////

            const idUserAdminForm = ref(null)
            const userDataSearch = ref(null);
            const selectedRole = ref('');
            const allUserAdminPsi = ref([])
            const actionWatchUsersAdmin = ref(0)

            watch(idUserAdminForm, async (newValue) => {
                if (newValue !== null) {
                    if (newValue.length === 15) { // Verifica si el ID es válido
                        try {
                            const response = await axios.get(`/users/${newValue}`);
                            if (navi.value === 'admin') {
                                userDataSearch.value = response.data;
                                selectedRole.value = response.data.rol
                            }



                            if (navi.value === 'toato') {
                                userToato.value = response.data
            
                            }
                        } catch (error) {
                            console.error('Error al obtener los datos del usuario:', error);
                        }
                    } else {
                        if (navi.value === 'admin') {
                            userDataSearch.value = null
                        }

                        if (navi.value === 'toato') {
                            userToato.value = null
                        }
                    }

                    if (newValue.length === 0) {
                        idUserAdminForm.value = null
                    }
                }

            }, { immediate: true });


            const submitSaveRolUser = async (user_id) => {
                if (userDataSearch) {
                    try {
                        const response = await axios.post('/users/admin', {
                            rol: selectedRole.value,
                            user_id: user_id
                        });

                        if (response.status == 201) {
                            actionWatchUsersAdmin.value = actionWatchUsersAdmin.value + 1
                            idUserAdminForm.value = null
                        }
                    } catch (error) {
                        console.error('Error al crear el usuario:', error);
                    }
                }
            }

            const submitUserSelect = (user) => {
                idUserAdminForm.value = user.iuud


            }

            const getUsersAdmin = async () => {
                try {
                    const response = await axios.get(`/users/admin`);
                    allUserAdminPsi.value = response.data
                } catch (error) {
                    allUserAdminPsi.value = []
                }
            }

            watch(actionWatchUsersAdmin, async () => {
                await getUsersAdmin()
            }, { immediate: true });




            ////////////////////messages to a to////////////////////////////////////////////


            return {
                userLogin,

                messages,
                message,
                sendMessage,



                emojis,
                toogleEmojis,
                modalEmojis,
                adEmoji,


                navi,
                toogleNvigate,

                psych,

                psychologyMessage,
                toogleNaviChatPsyc,

                countMessages,

                sidebarPsych,
                toogleSidebarPsi,

                idUserAdminForm,
                userDataSearch,
                submitSaveRolUser,
                selectedRole,
                allUserAdminPsi,
                submitUserSelect,


                toogleSidebarToato,
                sidebarToaTo,
                toogleNaviChatToato,
                toogleNaviChatToatoFind,
                toato,
                psychologyMessageToaTo,

                userToato


            };
        }
    }).mount('#app');
</script>




<style>
    .scrollbar-custom::-webkit-scrollbar {
        width: 8px;
        /* Ancho del scrollbar */
        height: 8px;
        /* Altura del scrollbar (para el desplazamiento horizontal) */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background-color: #888;
        /* Color del "pulgar" */
        border-radius: 10px;
        /* Bordes redondeados */
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background-color: #555;
        /* Color del "pulgar" al pasar el ratón por encima */
    }
</style>
{% endblock %}