{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block titles %}Login{% endblock %}

{% block body %}
<main class="flex items-center justify-center min-h-screen bg-[#3e9dfc] p-2 sm:p-8 overflow-hidden">
    <form method="POST" action="{{ url_for('users.login') }}"
        class="relative overflow-hidden before:absolute before:left-[-50px] before:top-[-50px] before:rounded-[50%] before:w-[100px] before:h-[100px] before:bg-[#b3d9ff] before:content-[''] after:absolute after:right-[-50px] after:bottom-[-50px] after:rounded-[50%] after:w-[100px] after:h-[100px] after:bg-[#b3d9ff] after:content-[''] w-[500px] h-[450px] rounded-[3%] p-3 shadow-xl bg-white"
        style="box-shadow: 0 10px 25px rgba(0, 0, 0, 0.507);">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}




        <div class="flex justify-center items-center mt-[20px] mb-8">
            <h1 class="text-[#4d94ff] text-5xl font-serif">Login</h1>
        </div>

        <div class="grid group gap-1 mb-6">
            <label for="username"
                class="text-[#000000a6] pl-10 font-normal hidden group-focus-within:block">Username:</label>
            <input autocomplete="off" type="text" id="username" name="username" placeholder="Enter Your Username"
                class="outline-none bg-[#eaf5ff] text-clip rounded-lg h-12 pl-4 ml-[30px] mr-[30px]" required>
        </div>
        <div class="grid group gap-1 mb-6">
            <label for="Password"
                class="text-[#000000a6] pl-10 font-normal hidden group-focus-within:block">Password:</label>
            <input autocomplete="off" type="password" id="Password" name="password" placeholder="Your Password"
                class="outline-none bg-[#eaf5ff] text-clip rounded-lg h-12 pl-4 ml-[30px] mr-[30px]" required>
        </div>
        <div class="flex justify-center">
            <button type="submit"
                class="bg-[#50a4f8] rounded-lg hover:bg-[#aadbfc] active:scale-95 duration-200 text-white w-[50%] h-12 mr-3 ml-8">
                Sign in
            </button>
            <button class="bg-[#50a4f8] rounded-lg hover:bg-[#aadbfc] active:scale-95 duration-200 text-white w-[50%] h-12 mr-8">
                <a href="http://127.0.0.1:5000/users/register">Create User</a>
            </button>
        </div>
        <div class="flex justify-center items-center mt-5">
            <a href="#" class="text-[#4d94ff] hover:text-[#3437ff]">¿Olvidaste tu clave?</a>
        </div>
    </form>
</main>

{% endblock %}