<div class="flex justify-center h-full flex-col w-[1000px] gap-4 px-3">
    <form class="flex gap-3 items-center w-full" action="">
        <div class="w-full">
            <input v-model="idUserAdminForm" class="w-full h-12 pl-6 border border-black rounded-md outline-1"
                placeholder="Enter user id" type="text">
        </div>
        <div class="hidden sm:block">
            <button class="bg-blue-400 p-2 px-7 text-white rounded-sm shadow-lg">Search</button>
        </div>
    </form>
    <div v-if="idUserAdminForm!==null" class="h-24 w-full bg-white flex justify-center items-center shadow-md">
        <div v-if="userDataSearch===null" class="">
            <h3>User not found</h3>
        </div>
        <div v-if="userDataSearch" class="flex gap-4  sm:gap-8 h-full items-center p-2">
            <div class="flex items-center justify-center rounded-full w-8 h-8 sm:w-16 sm:h-16 relative">
                <img v-if="userDataSearch.avatar" :src="'../../../static/uploads/' + userDataSearch.avatar" alt="avatar"
                    class="w-full h-full object-cover rounded-full">
                <span v-if="!userDataSearch.avatar" class=" font-extrabold text-xl" v-html="userDataSearch.letter">
                </span>

            </div>
            <div>
                <div v-html="userDataSearch.name +' '+ userDataSearch.lastname" class="sm:text-2xl"></div>
                <div>ID: <span v-html="userDataSearch.iuud"></span></div>
            </div>
            <form @submit.prevent="submitSaveRolUser(userDataSearch.id)" class="h-full flex gap-2 sm:gap-6 items-center">
                <select v-model="selectedRole" class="w-20 sm:w-28 outline-none border border-b-1 border-black px-3 rounded-md h-10">
                  <option value="admin">ADMIN</option>
                  <option value="user">USER</option>
                  <option value="psi">PSICO</option>
                </select>
                <button type="submit" class="hover:bg-green-300 hover:text-white w-8 h-8 pl-1 rounded-full border border-black">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                  </svg>
                </button>
              </form>

        </div>
    </div>

    <div class=" h-full bg-white w-full border border-black shadow-lg rounded-md p-3 overflow-auto pb-5 scrollbar-custom">
        <div class="grid lg:grid-cols-2 gap-9 ">
            <div class=" h-20" v-for="user in allUserAdminPsi" :key="user.id">
                <div  class="h-24 w-full bg-white flex justify-center items-center shadow-md border border-gray-200 rounded-md">
                    <div v-if="user" class="flex gap-2 sm:gap-8 h-full items-center p-2">
                        <div class="flex items-center justify-center rounded-full w-16 h-16 relative">
                            <img v-if="user.avatar" :src="'../../../static/uploads/' + user.avatar" alt="avatar"
                                class="w-full h-full object-cover rounded-full">
                            <span v-if="!user.avatar" class=" font-extrabold text-xl" v-html="user.letter">
                            </span>
            
                        </div>
                        <div>
                            <div v-html="user.name +' '+ user.lastname" class="sm:text-2xl"></div>
                            <div>ID: <span v-html="user.iuud"></span></div>
                        </div>
                        <form @submit.prevent="submitUserSelect(user)" class="h-full flex gap-2 sm:gap-6 items-center">
                            <div v-html="user.rol"></div>
                            <button type="submit" class="hover:bg-green-300 hover:text-white w-8 h-8 pl-1 rounded-full border border-black">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
                                </svg>
                            </button>
                          </form>
                    </div>
                </div>
            
            </div>
        </div>

    </div>
</div>