<div class="flex justify-center h-full flex-col w-[1000px] gap-4">
    <form class="flex gap-3 items-center w-full" action="">
        <div class="w-full">
            <input v-model="idUserAdminForm" class="w-full h-12 pl-6 border border-black rounded-md outline-1" placeholder="Enter user id" type="text">
        </div>
        <div>
            <button class="bg-blue-400 p-2 px-7 text-white rounded-sm shadow-lg">Search</button>
        </div>
    </form>
    <div class="h-24 w-full bg-white">

    </div>
    <div class="h-full bg-white w-full border border-black shadow-lg rounded-md">

    </div>
</div>