{% extends 'layout.html' %} {% block titles %}{{title}}{% endblock %} {% block
body %}
<div class="flex justify-center items-center min-h-screen">
  <div class="w-full max-w-md">
    <form method="POST" action="">
      {{form.hidden_tag()}}
      <fieldset>
        <div
          class="border-b mb-6 text-center uppercase font-bold text-xl font-sans"
        >
          <legend>{{legend}}</legend>
        </div>

        <div class="mb-5">
          {{form.email.label(class="block text-sm font-medium text-gray-700")}}
          {% if form.email.errors %} {{form.email(class="mt-1 block w-full px-3
          py-2 border border-red-500 rounded-md shadow-sm focus:outline-none
          focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}} {% for
          error in form.email.errors %}
          <p class="mt-2 text-sm text-red-600">{{error}}</p>
          {% endfor %} {% else %} {{form.email(class="mt-1 block w-full px-3
          py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none
          focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm")}} {% endif
          %}
        </div>
      </fieldset>
      <div class="mt-6 text-center">
        {{form.submit(class="w-full bg-indigo-600 text-white py-2 px-4
        rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2
        focus:ring-indigo-500 focus:ring-offset-2")}}
      </div>
    </form>
  </div>
</div>
{% endblock %}
